.container {
    display: flex;
    margin-bottom: 20px;
}

.rainbow-img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#message {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
