.progress-custom {
    width: 100%; /* Réglez la largeur selon vos besoins */
}

.progress-container {
    max-width: 70%; /* Réglez la largeur maximale selon vos besoins */
    margin: 0 auto; /* Centrez le conteneur horizontalement */
}
